 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root {
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
  --point-5rem: 0.5rem;
  --one-rem: 1rem;
  --two-rem: 2rem;
  --four-rem: 4rem;
  --onepoint-5rem: 1.5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}


html, body {
  height: 100%;
  font-size: 15px;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-inline-size: 1440px;
  padding-block-start: 1rem;
  padding-inline: 10%;
  margin-inline: auto;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

// global styles

a {
  text-decoration: none;
  transition: color 250ms ease;
}

// global styles end

img, picture {
  display: block;
  max-width: 100%;
}

body.shade {
  background-color: rgba(0, 0, 0, 0.4);
  position:absolute;
  z-index: 9;
}


.top-wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: var(--two-rem);
}

header {
  height:fit-content;
}


.burger-menu {
  display: none;
  cursor: pointer;
  background-color: inherit;
  padding-block-start: var(--point-5rem);
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-dark-grayish-blue);
    margin-inline-start: var(--onepoint-5rem);
  }

  a:hover {
    color: var(--color-soft-red);
  }
}

nav.responsive {
  transform: translateX(0%);
  transition: 550ms ease transform;
}

.news-homepage-section {
  margin-block-start: var(--one-rem);
  margin-block-end: var(--four-rem);

  h1 {
    font-weight: 900;
    line-height: 1;
    font-size: 3rem;
    margin-block-end: var(--one-rem);
  }

  p {
    color: var(--color-dark-grayish-blue);
    margin-block-end: var(--onepoint-5rem);
  }

  button {
    inline-size: 12rem;
    padding-inline: var(--one-rem);
    padding-block: var(--one-rem);
    color: var(--color-off-white);
    letter-spacing: 0.150rem;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--color-soft-red);
    border: none;
    cursor: pointer;
    transition: background-color 250ms ease;
  }

  button:hover {
    background-color: var(--color-very-dark-blue);
  }
}

.news-aside-right {
  max-width: 33.33rem;
  padding-block-start: 1.5rem;
  padding-inline: 1.5rem;
  background-color: var(--color-very-dark-blue);
  block-size: fit-content;
  .hr {
    border: none;
    height: 0.006rem;
    background-color: var(--color-off-white);
  }
  h2 {
    font-size: 2.5rem;
    color: var(--color-soft-orange);
  }
}

.aside-details {
  padding-block: var(--one-rem);

  a {
    color: var(--color-off-white);
  }

  a:hover {
    color:var(--color-soft-orange);
  }

  p {
    color: var(--color-grayish-blue);
    padding-block-start: var(--point-5rem);
  }
}
.news-homepage-bottom-section {
  margin-block: var(--four-rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
}

.news-homepage-bottom-article {
  display: flex;
  gap: 1rem;
  margin-block-end: 2rem;
  max-width: 18.75rem;
  margin-inline-end: var(--point-5rem);
  align-items:center;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.bottom-article-img {
  min-width: 6.67rem;
  height: 80%;
}

.bottom-article-details {
  padding-block-start: 0.2rem;
  padding-block: 1rem;
  strong {
    font-size: var(--two-rem);
    color: var(--color-grayish-blue);
  }

  a {
    color: var(--color-very-dark-blue);
    font-weight: 800;
  }

  a:hover {
    color: var(--color-soft-red);
  }

  p {
    margin-block: var(--point-5rem);
    color: var(--color-dark-grayish-blue);
  }
} 

@keyframes animateNavLinks {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform:translateX(0px);
  }
}

@media screen and (max-width: 51.2rem) {

  body {
    padding-inline: 1rem;
    inline-size: 100%;
  }

  .top-wrapper {
    padding-block-start: 0;
  }

  .nav {
    position: fixed;
    top: 0;right: 0;
    height: 100%;
    background-color: var(--color-off-white);
    transform: translateX(130%);
  }

  
  .burger-menu {
    visibility: visible;
    position: fixed;
    z-index: 1;
    right: 1.8rem; top: 1rem;
    display: block;
    border: none;
  }


  .nav-list {
    transform: translateY(58%);
    display: block;
    margin-inline-start: 1rem; 
    margin-inline-end: 7rem; 
    inline-size: fit-content;
    height: initial;
    li {
      margin-block: 1rem;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 37.5rem) {
  .container {
    display:grid;
    gap: 1.5rem;
    grid-template-columns: 2fr 1fr;
  }

  .news-homepage-section {
    display:grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

